.hero_heading{
    font-size: 85px;
    color: white;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  @media screen and (max-width: 600px){
    .hero_heading{
      font-size: 60px;
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
  
  .hero_selector_btn_left{
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    --color-white: 255 255 255;
    --color-black: 0 0 0;
    --color-alabaster: 237 235 230;
    --color-clayDark: 50 46 35;
    --color-clayLight: 220 220 211;
    --color-dawnYellow: 254 209 65;
    --color-daybreakYellow: 242 240 161;
    --color-duskOrange: 255 164 0;
    --color-everydayGrey: 242 242 238;
    --color-forestGreen: 28 66 32;
    --color-gardenGreen: 208 222 187;
    --color-golden: 233 235 171;
    --color-inletBlue: 189 214 230;
    --color-middleGrey: 141 136 124;
    --color-mineralGrey: 57 57 53;
    --color-pacificBlue: 0 48 87;
    --color-parkGreen: 116 170 80;
    --color-pianoBlack: 28 27 31;
    --color-sandGrey: 215 210 193;
    --color-sandstoneDark: 50 46 35;
    --color-sandstoneLight: 237 235 230;
    --color-scorpionGrey: 96 96 96;
    --color-skyBlue: 0 132 212;
    --color-slateGrey: 30 32 24;
    --color-spaceGrey: 141 136 124;
    --color-stoneGrey: 231 229 217;
    --color-woodGrey: 94 88 81;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --regular: ABCRepro, sans-serif;
    --heavy: FeatureDisplay, serif;
    --mono: ABCReproMono, monospace;
    --accent: FeatureDeck, serif;
    --fontFamily-regular-0: var(--regular);
    --fontFamily-regular-1-fontFeatureSettings: "ss01","ss02","ss07","ss10","ss11";
    --fontFamily-heavy-0: var(--heavy);
    --fontFamily-heavy-1-fontFeatureSettings: normal;
    --fontFamily-mono-0: var(--mono);
    --fontFamily-mono-1-fontFeatureSettings: "ss01","ss02","ss07","ss10","ss11","ss12";
    --fontFamily-accent-0: var(--accent);
    --fontFamily-accent-1-fontFeatureSettings: normal;
    --lineHeight-70: 0.6875rem;
    --lineHeight-75: 0.75rem;
    --lineHeight-80: 0.8125rem;
    --lineHeight-90: 0.875rem;
    --lineHeight-100: 1rem;
    --lineHeight-110: 1.125rem;
    --lineHeight-125: 1.25rem;
    --lineHeight-130: 1.3125rem;
    --lineHeight-150: 1.5rem;
    --lineHeight-175: 1.75rem;
    --lineHeight-200: 2rem;
    --lineHeight-250: 2.5rem;
    --lineHeight-300: 3rem;
    --lineHeight-350: 3.5rem;
    --lineHeight-375: 3.75rem;
    --lineHeight-400: 4rem;
    --lineHeight-500: 5rem;
    --lineHeight-600: 6rem;
    --lineHeight-625: 6.25rem;
    --lineHeight-zero: 0;
    --lineHeight-none: 1;
    --lineHeight-tight: 1.1;
    --lineHeight-cozy: 1.2;
    --lineHeight-snug: 1.3;
    --lineHeight-normal: 1.4;
    --lineHeight-relaxed: 1.5;
    --lineHeight-loose: 2;
    --fontSize-70: 0.6875rem;
    --fontSize-75: 0.75rem;
    --fontSize-80: 0.8125rem;
    --fontSize-90: 0.875rem;
    --fontSize-100: 1rem;
    --fontSize-110: 1.125rem;
    --fontSize-130: 1.3125rem;
    --fontSize-150: 1.5rem;
    --fontSize-175: 1.75rem;
    --fontSize-200: 2rem;
    --fontSize-250: 2.5rem;
    --fontSize-300: 3rem;
    --fontSize-350: 3.5rem;
    --fontSize-375: 3.75rem;
    --fontSize-400: 4rem;
    --fontSize-500: 5rem;
    --fontSize-600: 6rem;
    --fontSize-625: 6.25rem;
    --fontSize-tiniest: .700rem;
    --fontSize-small: .75rem;
    --fontSize-xxs: .8125rem;
    --fontSize-xs: 0.875rem;
    --fontSize-sm: 1rem;
    --fontSize-base: 1rem;
    --fontSize-body: 1.125rem;
    --fontSize-md: 1.3125rem;
    --fontSize-lg: 1.5rem;
    --fontSize-xl: 1.75rem;
    --fontSize-2xl: 2rem;
    --fontSize-3xl: 2.5rem;
    --fontSize-4xl: 3rem;
    --fontSize-5xl: 3.5rem;
    --fontSize-6xl: 3.75rem;
    --fontSize-7xl: 5rem;
    --fontSize-8xl: 6.25rem;
    --fontWeight-bold: 700;
    --fontWeight-normal: 400;
    --spacing-15: 0.125rem;
    --spacing-25: 0.25rem;
    --spacing-35: 0.375rem;
    --spacing-50: 0.5rem;
    --spacing-60: 0.625rem;
    --spacing-75: 0.75rem;
    --spacing-90: 0.875rem;
    --spacing-100: 1rem;
    --spacing-110: 1.125rem;
    --spacing-125: 1.25rem;
    --spacing-150: 1.5rem;
    --spacing-175: 1.75rem;
    --spacing-200: 2rem;
    --spacing-225: 2.25rem;
    --spacing-250: 2.5rem;
    --spacing-275: 2.75rem;
    --spacing-290: 2.875rem;
    --spacing-300: 3rem;
    --spacing-330: 3.3125rem;
    --spacing-350: 3.5rem;
    --spacing-390: 3.875rem;
    --spacing-400: 4rem;
    --spacing-450: 4.5rem;
    --spacing-500: 5rem;
    --spacing-600: 6rem;
    --spacing-625: 6.25rem;
    --spacing-700: 7rem;
    --spacing-750: 7.5rem;
    --spacing-775: 7.75rem;
    --spacing-800: 8rem;
    --spacing-900: 9rem;
    --spacing-950: 9.5rem;
    --spacing-1000: 10rem;
    --spacing-1250: 12.5rem;
    --spacing-1375: 13.75rem;
    --spacing-1400: 14rem;
    --spacing-1420: 14.1875rem;
    --spacing-1500: 16rem;
    --spacing-1800: 18rem;
    --spacing-2225: 22.25rem;
    --spacing-2400: 24rem;
    --spacing-2500: 25rem;
    --spacing-2700: 27rem;
    --spacing-3000: 30rem;
    --spacing-3200: 32rem;
    --spacing-4600: 46rem;
    --spacing-5000: 50rem;
    --spacing-5625: 56.25rem;
    --borderRadius-2: 2px;
    --borderRadius-6: 6px;
    --borderRadius-8: 8px;
    --borderRadius-22: 22px;
    --borderRadius-32: 32px;
    --borderRadius-40: 40px;
    --borderRadius-50: 50px;
    --borderRadius-1500: 1500px;
    --borderRadius-4xl: 2rem;
    --borderRadius-none: 0;
    --borderRadius-theme: 9999px;
    --borderWidth-0: 0;
    --borderWidth-2: 2px;
    --borderWidth-3: 3px;
    --borderWidth-4: 4px;
    --borderWidth-6: 6px;
    --borderWidth-8: 8px;
    --borderWidth: 1px;
    --letterSpacing-1: 1px;
    --letterSpacing-2: 2px;
    --letterSpacing-3: 3px;
    --letterSpacing-4: 4px;
    --letterSpacing-5: 5px;
    --letterSpacing-6: 6px;
    --letterSpacing-7: 7px;
    --letterSpacing-8: 8px;
    --letterSpacing-9: 9px;
    --letterSpacing-10: 10px;
    --listStyleType-alpha: lower-alpha;
    --listStyleType-circle: circle;
    --surface-primary: rgb(var(--color-black)/1);
    --google-map-surface: rgb(var(--color-white)/1);
    --google-map-text: rgb(var(--color-black)/1);
    --text-headline: rgb(var(--color-white)/1);
    --text-body: rgb(var(--color-white)/1);
    --text-body-alt: rgb(var(--color-white)/1);
    --text-body-alt-other: rgb(var(--color-white)/1);
    --surface-button-primary: rgb(var(--color-white)/1);
    --text-button-secondary: rgb(var(--color-white)/1);
    --surround-border: rgb(var(--color-white)/20%);
    --slider-arrow: rgb(var(--color-white)/1);
    --slider-label: rgb(var(--color-middleGrey)/1);
    --error: #eb1e00;
    --register-link-bg: rgb(var(--color-black)/1);
    --graphics: rgb(var(--color-clayDark)/1);
    --grey-btn: rgb(var(--color-white)/20%);
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
    font-family: inherit;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    margin: 0;
    text-transform: none;
    -webkit-appearance: button;
    background-image: none;
    cursor: pointer;
    font-feature-settings: inherit;
    display: flex;
    align-items: center;
    border-top-left-radius: var(--borderRadius-theme);
    border-bottom-left-radius: var(--borderRadius-theme);
    border-width: var(--borderWidth);
    border-color: rgb(var(--color-black)/.25);
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-white)/var(--tw-bg-opacity));
    padding-top: var(--spacing-50);
    padding-bottom: var(--spacing-50);
    padding-left: var(--spacing-150);
    padding-right: var(--spacing-250);
    --tw-text-opacity: 1;
    color: rgb(var(--color-black)/var(--tw-text-opacity));
    font-size: var(--fontSize-100);
    line-height: var(--lineHeight-normal);
  }
  
  .hero_selector_btn_right{
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    --color-white: 255 255 255;
    --color-black: 0 0 0;
    --color-alabaster: 237 235 230;
    --color-clayDark: 50 46 35;
    --color-clayLight: 220 220 211;
    --color-dawnYellow: 254 209 65;
    --color-daybreakYellow: 242 240 161;
    --color-duskOrange: 255 164 0;
    --color-everydayGrey: 242 242 238;
    --color-forestGreen: 28 66 32;
    --color-gardenGreen: 208 222 187;
    --color-golden: 233 235 171;
    --color-inletBlue: 189 214 230;
    --color-middleGrey: 141 136 124;
    --color-mineralGrey: 57 57 53;
    --color-pacificBlue: 0 48 87;
    --color-parkGreen: 116 170 80;
    --color-pianoBlack: 28 27 31;
    --color-sandGrey: 215 210 193;
    --color-sandstoneDark: 50 46 35;
    --color-sandstoneLight: 237 235 230;
    --color-scorpionGrey: 96 96 96;
    --color-skyBlue: 0 132 212;
    --color-slateGrey: 30 32 24;
    --color-spaceGrey: 141 136 124;
    --color-stoneGrey: 231 229 217;
    --color-woodGrey: 94 88 81;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --regular: ABCRepro, sans-serif;
    --heavy: FeatureDisplay, serif;
    --mono: ABCReproMono, monospace;
    --accent: FeatureDeck, serif;
    --fontFamily-regular-0: var(--regular);
    --fontFamily-regular-1-fontFeatureSettings: "ss01","ss02","ss07","ss10","ss11";
    --fontFamily-heavy-0: var(--heavy);
    --fontFamily-heavy-1-fontFeatureSettings: normal;
    --fontFamily-mono-0: var(--mono);
    --fontFamily-mono-1-fontFeatureSettings: "ss01","ss02","ss07","ss10","ss11","ss12";
    --fontFamily-accent-0: var(--accent);
    --fontFamily-accent-1-fontFeatureSettings: normal;
    --lineHeight-70: 0.6875rem;
    --lineHeight-75: 0.75rem;
    --lineHeight-80: 0.8125rem;
    --lineHeight-90: 0.875rem;
    --lineHeight-100: 1rem;
    --lineHeight-110: 1.125rem;
    --lineHeight-125: 1.25rem;
    --lineHeight-130: 1.3125rem;
    --lineHeight-150: 1.5rem;
    --lineHeight-175: 1.75rem;
    --lineHeight-200: 2rem;
    --lineHeight-250: 2.5rem;
    --lineHeight-300: 3rem;
    --lineHeight-350: 3.5rem;
    --lineHeight-375: 3.75rem;
    --lineHeight-400: 4rem;
    --lineHeight-500: 5rem;
    --lineHeight-600: 6rem;
    --lineHeight-625: 6.25rem;
    --lineHeight-zero: 0;
    --lineHeight-none: 1;
    --lineHeight-tight: 1.1;
    --lineHeight-cozy: 1.2;
    --lineHeight-snug: 1.3;
    --lineHeight-normal: 1.4;
    --lineHeight-relaxed: 1.5;
    --lineHeight-loose: 2;
    --fontSize-70: 0.6875rem;
    --fontSize-75: 0.75rem;
    --fontSize-80: 0.8125rem;
    --fontSize-90: 0.875rem;
    --fontSize-100: 1rem;
    --fontSize-110: 1.125rem;
    --fontSize-130: 1.3125rem;
    --fontSize-150: 1.5rem;
    --fontSize-175: 1.75rem;
    --fontSize-200: 2rem;
    --fontSize-250: 2.5rem;
    --fontSize-300: 3rem;
    --fontSize-350: 3.5rem;
    --fontSize-375: 3.75rem;
    --fontSize-400: 4rem;
    --fontSize-500: 5rem;
    --fontSize-600: 6rem;
    --fontSize-625: 6.25rem;
    --fontSize-tiniest: .700rem;
    --fontSize-small: .75rem;
    --fontSize-xxs: .8125rem;
    --fontSize-xs: 0.875rem;
    --fontSize-sm: 1rem;
    --fontSize-base: 1rem;
    --fontSize-body: 1.125rem;
    --fontSize-md: 1.3125rem;
    --fontSize-lg: 1.5rem;
    --fontSize-xl: 1.75rem;
    --fontSize-2xl: 2rem;
    --fontSize-3xl: 2.5rem;
    --fontSize-4xl: 3rem;
    --fontSize-5xl: 3.5rem;
    --fontSize-6xl: 3.75rem;
    --fontSize-7xl: 5rem;
    --fontSize-8xl: 6.25rem;
    --fontWeight-bold: 700;
    --fontWeight-normal: 400;
    --spacing-15: 0.125rem;
    --spacing-25: 0.25rem;
    --spacing-35: 0.375rem;
    --spacing-50: 0.5rem;
    --spacing-60: 0.625rem;
    --spacing-75: 0.75rem;
    --spacing-90: 0.875rem;
    --spacing-100: 1rem;
    --spacing-110: 1.125rem;
    --spacing-125: 1.25rem;
    --spacing-150: 1.5rem;
    --spacing-175: 1.75rem;
    --spacing-200: 2rem;
    --spacing-225: 2.25rem;
    --spacing-250: 2.5rem;
    --spacing-275: 2.75rem;
    --spacing-290: 2.875rem;
    --spacing-300: 3rem;
    --spacing-330: 3.3125rem;
    --spacing-350: 3.5rem;
    --spacing-390: 3.875rem;
    --spacing-400: 4rem;
    --spacing-450: 4.5rem;
    --spacing-500: 5rem;
    --spacing-600: 6rem;
    --spacing-625: 6.25rem;
    --spacing-700: 7rem;
    --spacing-750: 7.5rem;
    --spacing-775: 7.75rem;
    --spacing-800: 8rem;
    --spacing-900: 9rem;
    --spacing-950: 9.5rem;
    --spacing-1000: 10rem;
    --spacing-1250: 12.5rem;
    --spacing-1375: 13.75rem;
    --spacing-1400: 14rem;
    --spacing-1420: 14.1875rem;
    --spacing-1500: 16rem;
    --spacing-1800: 18rem;
    --spacing-2225: 22.25rem;
    --spacing-2400: 24rem;
    --spacing-2500: 25rem;
    --spacing-2700: 27rem;
    --spacing-3000: 30rem;
    --spacing-3200: 32rem;
    --spacing-4600: 46rem;
    --spacing-5000: 50rem;
    --spacing-5625: 56.25rem;
    --borderRadius-2: 2px;
    --borderRadius-6: 6px;
    --borderRadius-8: 8px;
    --borderRadius-22: 22px;
    --borderRadius-32: 32px;
    --borderRadius-40: 40px;
    --borderRadius-50: 50px;
    --borderRadius-1500: 1500px;
    --borderRadius-4xl: 2rem;
    --borderRadius-none: 0;
    --borderRadius-theme: 9999px;
    --borderWidth-0: 0;
    --borderWidth-2: 2px;
    --borderWidth-3: 3px;
    --borderWidth-4: 4px;
    --borderWidth-6: 6px;
    --borderWidth-8: 8px;
    --borderWidth: 1px;
    --letterSpacing-1: 1px;
    --letterSpacing-2: 2px;
    --letterSpacing-3: 3px;
    --letterSpacing-4: 4px;
    --letterSpacing-5: 5px;
    --letterSpacing-6: 6px;
    --letterSpacing-7: 7px;
    --letterSpacing-8: 8px;
    --letterSpacing-9: 9px;
    --letterSpacing-10: 10px;
    --listStyleType-alpha: lower-alpha;
    --listStyleType-circle: circle;
    --surface-primary: rgb(var(--color-black)/1);
    --google-map-surface: rgb(var(--color-white)/1);
    --google-map-text: rgb(var(--color-black)/1);
    --text-headline: rgb(var(--color-white)/1);
    --text-body: rgb(var(--color-white)/1);
    --text-body-alt: rgb(var(--color-white)/1);
    --text-body-alt-other: rgb(var(--color-white)/1);
    --surface-button-primary: rgb(var(--color-white)/1);
    --text-button-secondary: rgb(var(--color-white)/1);
    --surround-border: rgb(var(--color-white)/20%);
    --slider-arrow: rgb(var(--color-white)/1);
    --slider-label: rgb(var(--color-middleGrey)/1);
    --error: #eb1e00;
    --register-link-bg: rgb(var(--color-black)/1);
    --graphics: rgb(var(--color-clayDark)/1);
    --grey-btn: rgb(var(--color-white)/20%);
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
    font-family: inherit;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    margin: 0;
    text-transform: none;
    -webkit-appearance: button;
    background-image: none;
    cursor: pointer;
    font-feature-settings: inherit;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-top-right-radius: var(--borderRadius-theme);
    border-bottom-right-radius: var(--borderRadius-theme);
    border-width: var(--borderWidth);
    border-left-width: var(--borderWidth-0);
    border-color: rgb(var(--color-black)/.25);
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-white)/var(--tw-bg-opacity));
    padding-top: var(--spacing-50);
    padding-bottom: var(--spacing-50);
    padding-left: var(--spacing-150);
    padding-right: var(--spacing-250);
    --tw-text-opacity: 1;
    color: rgb(var(--color-black)/var(--tw-text-opacity));
    font-size: var(--fontSize-100);
    line-height: var(--lineHeight-normal);
  }
  
  .selector_btn_div{
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    --color-white: 255 255 255;
    --color-black: 0 0 0;
    --color-alabaster: 237 235 230;
    --color-clayDark: 50 46 35;
    --color-clayLight: 220 220 211;
    --color-dawnYellow: 254 209 65;
    --color-daybreakYellow: 242 240 161;
    --color-duskOrange: 255 164 0;
    --color-everydayGrey: 242 242 238;
    --color-forestGreen: 28 66 32;
    --color-gardenGreen: 208 222 187;
    --color-golden: 233 235 171;
    --color-inletBlue: 189 214 230;
    --color-middleGrey: 141 136 124;
    --color-mineralGrey: 57 57 53;
    --color-pacificBlue: 0 48 87;
    --color-parkGreen: 116 170 80;
    --color-pianoBlack: 28 27 31;
    --color-sandGrey: 215 210 193;
    --color-sandstoneDark: 50 46 35;
    --color-sandstoneLight: 237 235 230;
    --color-scorpionGrey: 96 96 96;
    --color-skyBlue: 0 132 212;
    --color-slateGrey: 30 32 24;
    --color-spaceGrey: 141 136 124;
    --color-stoneGrey: 231 229 217;
    --color-woodGrey: 94 88 81;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --regular: ABCRepro, sans-serif;
    --heavy: FeatureDisplay, serif;
    --mono: ABCReproMono, monospace;
    --accent: FeatureDeck, serif;
    --fontFamily-regular-0: var(--regular);
    --fontFamily-regular-1-fontFeatureSettings: "ss01","ss02","ss07","ss10","ss11";
    --fontFamily-heavy-0: var(--heavy);
    --fontFamily-heavy-1-fontFeatureSettings: normal;
    --fontFamily-mono-0: var(--mono);
    --fontFamily-mono-1-fontFeatureSettings: "ss01","ss02","ss07","ss10","ss11","ss12";
    --fontFamily-accent-0: var(--accent);
    --fontFamily-accent-1-fontFeatureSettings: normal;
    --lineHeight-70: 0.6875rem;
    --lineHeight-75: 0.75rem;
    --lineHeight-80: 0.8125rem;
    --lineHeight-90: 0.875rem;
    --lineHeight-100: 1rem;
    --lineHeight-110: 1.125rem;
    --lineHeight-125: 1.25rem;
    --lineHeight-130: 1.3125rem;
    --lineHeight-150: 1.5rem;
    --lineHeight-175: 1.75rem;
    --lineHeight-200: 2rem;
    --lineHeight-250: 2.5rem;
    --lineHeight-300: 3rem;
    --lineHeight-350: 3.5rem;
    --lineHeight-375: 3.75rem;
    --lineHeight-400: 4rem;
    --lineHeight-500: 5rem;
    --lineHeight-600: 6rem;
    --lineHeight-625: 6.25rem;
    --lineHeight-zero: 0;
    --lineHeight-none: 1;
    --lineHeight-tight: 1.1;
    --lineHeight-cozy: 1.2;
    --lineHeight-snug: 1.3;
    --lineHeight-normal: 1.4;
    --lineHeight-relaxed: 1.5;
    --lineHeight-loose: 2;
    --fontSize-70: 0.6875rem;
    --fontSize-75: 0.75rem;
    --fontSize-80: 0.8125rem;
    --fontSize-90: 0.875rem;
    --fontSize-100: 1rem;
    --fontSize-110: 1.125rem;
    --fontSize-130: 1.3125rem;
    --fontSize-150: 1.5rem;
    --fontSize-175: 1.75rem;
    --fontSize-200: 2rem;
    --fontSize-250: 2.5rem;
    --fontSize-300: 3rem;
    --fontSize-350: 3.5rem;
    --fontSize-375: 3.75rem;
    --fontSize-400: 4rem;
    --fontSize-500: 5rem;
    --fontSize-600: 6rem;
    --fontSize-625: 6.25rem;
    --fontSize-tiniest: .700rem;
    --fontSize-small: .75rem;
    --fontSize-xxs: .8125rem;
    --fontSize-xs: 0.875rem;
    --fontSize-sm: 1rem;
    --fontSize-base: 1rem;
    --fontSize-body: 1.125rem;
    --fontSize-md: 1.3125rem;
    --fontSize-lg: 1.5rem;
    --fontSize-xl: 1.75rem;
    --fontSize-2xl: 2rem;
    --fontSize-3xl: 2.5rem;
    --fontSize-4xl: 3rem;
    --fontSize-5xl: 3.5rem;
    --fontSize-6xl: 3.75rem;
    --fontSize-7xl: 5rem;
    --fontSize-8xl: 6.25rem;
    --fontWeight-bold: 700;
    --fontWeight-normal: 400;
    --spacing-15: 0.125rem;
    --spacing-25: 0.25rem;
    --spacing-35: 0.375rem;
    --spacing-50: 0.5rem;
    --spacing-60: 0.625rem;
    --spacing-75: 0.75rem;
    --spacing-90: 0.875rem;
    --spacing-100: 1rem;
    --spacing-110: 1.125rem;
    --spacing-125: 1.25rem;
    --spacing-150: 1.5rem;
    --spacing-175: 1.75rem;
    --spacing-200: 2rem;
    --spacing-225: 2.25rem;
    --spacing-250: 2.5rem;
    --spacing-275: 2.75rem;
    --spacing-290: 2.875rem;
    --spacing-300: 3rem;
    --spacing-330: 3.3125rem;
    --spacing-350: 3.5rem;
    --spacing-390: 3.875rem;
    --spacing-400: 4rem;
    --spacing-450: 4.5rem;
    --spacing-500: 5rem;
    --spacing-600: 6rem;
    --spacing-625: 6.25rem;
    --spacing-700: 7rem;
    --spacing-750: 7.5rem;
    --spacing-775: 7.75rem;
    --spacing-800: 8rem;
    --spacing-900: 9rem;
    --spacing-950: 9.5rem;
    --spacing-1000: 10rem;
    --spacing-1250: 12.5rem;
    --spacing-1375: 13.75rem;
    --spacing-1400: 14rem;
    --spacing-1420: 14.1875rem;
    --spacing-1500: 16rem;
    --spacing-1800: 18rem;
    --spacing-2225: 22.25rem;
    --spacing-2400: 24rem;
    --spacing-2500: 25rem;
    --spacing-2700: 27rem;
    --spacing-3000: 30rem;
    --spacing-3200: 32rem;
    --spacing-4600: 46rem;
    --spacing-5000: 50rem;
    --spacing-5625: 56.25rem;
    --borderRadius-2: 2px;
    --borderRadius-6: 6px;
    --borderRadius-8: 8px;
    --borderRadius-22: 22px;
    --borderRadius-32: 32px;
    --borderRadius-40: 40px;
    --borderRadius-50: 50px;
    --borderRadius-1500: 1500px;
    --borderRadius-4xl: 2rem;
    --borderRadius-none: 0;
    --borderRadius-theme: 9999px;
    --borderWidth-0: 0;
    --borderWidth-2: 2px;
    --borderWidth-3: 3px;
    --borderWidth-4: 4px;
    --borderWidth-6: 6px;
    --borderWidth-8: 8px;
    --borderWidth: 1px;
    --letterSpacing-1: 1px;
    --letterSpacing-2: 2px;
    --letterSpacing-3: 3px;
    --letterSpacing-4: 4px;
    --letterSpacing-5: 5px;
    --letterSpacing-6: 6px;
    --letterSpacing-7: 7px;
    --letterSpacing-8: 8px;
    --letterSpacing-9: 9px;
    --letterSpacing-10: 10px;
    --listStyleType-alpha: lower-alpha;
    --listStyleType-circle: circle;
    --surface-primary: rgb(var(--color-black)/1);
    --google-map-surface: rgb(var(--color-white)/1);
    --google-map-text: rgb(var(--color-black)/1);
    --text-headline: rgb(var(--color-white)/1);
    --text-body: rgb(var(--color-white)/1);
    --text-body-alt: rgb(var(--color-white)/1);
    --text-body-alt-other: rgb(var(--color-white)/1);
    --surface-button-primary: rgb(var(--color-white)/1);
    --text-button-secondary: rgb(var(--color-white)/1);
    --surround-border: rgb(var(--color-white)/20%);
    --slider-arrow: rgb(var(--color-white)/1);
    --slider-label: rgb(var(--color-middleGrey)/1);
    --error: #eb1e00;
    --register-link-bg: rgb(var(--color-black)/1);
    --graphics: rgb(var(--color-clayDark)/1);
    --grey-btn: rgb(var(--color-white)/20%);
    font-family: inherit;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    text-transform: none;
    cursor: pointer;
    font-feature-settings: inherit;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    color: rgb(var(--color-black)/var(--tw-text-opacity));
    font-size: var(--fontSize-100);
    line-height: var(--lineHeight-normal);
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
    padding-left: var(--spacing-90);
  }
  
  .selector_btn_span{
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    --color-white: 255 255 255;
    --color-black: 0 0 0;
    --color-alabaster: 237 235 230;
    --color-clayDark: 50 46 35;
    --color-clayLight: 220 220 211;
    --color-dawnYellow: 254 209 65;
    --color-daybreakYellow: 242 240 161;
    --color-duskOrange: 255 164 0;
    --color-everydayGrey: 242 242 238;
    --color-forestGreen: 28 66 32;
    --color-gardenGreen: 208 222 187;
    --color-golden: 233 235 171;
    --color-inletBlue: 189 214 230;
    --color-middleGrey: 141 136 124;
    --color-mineralGrey: 57 57 53;
    --color-pacificBlue: 0 48 87;
    --color-parkGreen: 116 170 80;
    --color-pianoBlack: 28 27 31;
    --color-sandGrey: 215 210 193;
    --color-sandstoneDark: 50 46 35;
    --color-sandstoneLight: 237 235 230;
    --color-scorpionGrey: 96 96 96;
    --color-skyBlue: 0 132 212;
    --color-slateGrey: 30 32 24;
    --color-spaceGrey: 141 136 124;
    --color-stoneGrey: 231 229 217;
    --color-woodGrey: 94 88 81;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --regular: ABCRepro, sans-serif;
    --heavy: FeatureDisplay, serif;
    --mono: ABCReproMono, monospace;
    --accent: FeatureDeck, serif;
    --fontFamily-regular-0: var(--regular);
    --fontFamily-regular-1-fontFeatureSettings: "ss01","ss02","ss07","ss10","ss11";
    --fontFamily-heavy-0: var(--heavy);
    --fontFamily-heavy-1-fontFeatureSettings: normal;
    --fontFamily-mono-0: var(--mono);
    --fontFamily-mono-1-fontFeatureSettings: "ss01","ss02","ss07","ss10","ss11","ss12";
    --fontFamily-accent-0: var(--accent);
    --fontFamily-accent-1-fontFeatureSettings: normal;
    --lineHeight-70: 0.6875rem;
    --lineHeight-75: 0.75rem;
    --lineHeight-80: 0.8125rem;
    --lineHeight-90: 0.875rem;
    --lineHeight-100: 1rem;
    --lineHeight-110: 1.125rem;
    --lineHeight-125: 1.25rem;
    --lineHeight-130: 1.3125rem;
    --lineHeight-150: 1.5rem;
    --lineHeight-175: 1.75rem;
    --lineHeight-200: 2rem;
    --lineHeight-250: 2.5rem;
    --lineHeight-300: 3rem;
    --lineHeight-350: 3.5rem;
    --lineHeight-375: 3.75rem;
    --lineHeight-400: 4rem;
    --lineHeight-500: 5rem;
    --lineHeight-600: 6rem;
    --lineHeight-625: 6.25rem;
    --lineHeight-zero: 0;
    --lineHeight-none: 1;
    --lineHeight-tight: 1.1;
    --lineHeight-cozy: 1.2;
    --lineHeight-snug: 1.3;
    --lineHeight-normal: 1.4;
    --lineHeight-relaxed: 1.5;
    --lineHeight-loose: 2;
    --fontSize-70: 0.6875rem;
    --fontSize-75: 0.75rem;
    --fontSize-80: 0.8125rem;
    --fontSize-90: 0.875rem;
    --fontSize-100: 1rem;
    --fontSize-110: 1.125rem;
    --fontSize-130: 1.3125rem;
    --fontSize-150: 1.5rem;
    --fontSize-175: 1.75rem;
    --fontSize-200: 2rem;
    --fontSize-250: 2.5rem;
    --fontSize-300: 3rem;
    --fontSize-350: 3.5rem;
    --fontSize-375: 3.75rem;
    --fontSize-400: 4rem;
    --fontSize-500: 5rem;
    --fontSize-600: 6rem;
    --fontSize-625: 6.25rem;
    --fontSize-tiniest: .700rem;
    --fontSize-small: .75rem;
    --fontSize-xxs: .8125rem;
    --fontSize-xs: 0.875rem;
    --fontSize-sm: 1rem;
    --fontSize-base: 1rem;
    --fontSize-body: 1.125rem;
    --fontSize-md: 1.3125rem;
    --fontSize-lg: 1.5rem;
    --fontSize-xl: 1.75rem;
    --fontSize-2xl: 2rem;
    --fontSize-3xl: 2.5rem;
    --fontSize-4xl: 3rem;
    --fontSize-5xl: 3.5rem;
    --fontSize-6xl: 3.75rem;
    --fontSize-7xl: 5rem;
    --fontSize-8xl: 6.25rem;
    --fontWeight-bold: 700;
    --fontWeight-normal: 400;
    --spacing-15: 0.125rem;
    --spacing-25: 0.25rem;
    --spacing-35: 0.375rem;
    --spacing-50: 0.5rem;
    --spacing-60: 0.625rem;
    --spacing-75: 0.75rem;
    --spacing-90: 0.875rem;
    --spacing-100: 1rem;
    --spacing-110: 1.125rem;
    --spacing-125: 1.25rem;
    --spacing-150: 1.5rem;
    --spacing-175: 1.75rem;
    --spacing-200: 2rem;
    --spacing-225: 2.25rem;
    --spacing-250: 2.5rem;
    --spacing-275: 2.75rem;
    --spacing-290: 2.875rem;
    --spacing-300: 3rem;
    --spacing-330: 3.3125rem;
    --spacing-350: 3.5rem;
    --spacing-390: 3.875rem;
    --spacing-400: 4rem;
    --spacing-450: 4.5rem;
    --spacing-500: 5rem;
    --spacing-600: 6rem;
    --spacing-625: 6.25rem;
    --spacing-700: 7rem;
    --spacing-750: 7.5rem;
    --spacing-775: 7.75rem;
    --spacing-800: 8rem;
    --spacing-900: 9rem;
    --spacing-950: 9.5rem;
    --spacing-1000: 10rem;
    --spacing-1250: 12.5rem;
    --spacing-1375: 13.75rem;
    --spacing-1400: 14rem;
    --spacing-1420: 14.1875rem;
    --spacing-1500: 16rem;
    --spacing-1800: 18rem;
    --spacing-2225: 22.25rem;
    --spacing-2400: 24rem;
    --spacing-2500: 25rem;
    --spacing-2700: 27rem;
    --spacing-3000: 30rem;
    --spacing-3200: 32rem;
    --spacing-4600: 46rem;
    --spacing-5000: 50rem;
    --spacing-5625: 56.25rem;
    --borderRadius-2: 2px;
    --borderRadius-6: 6px;
    --borderRadius-8: 8px;
    --borderRadius-22: 22px;
    --borderRadius-32: 32px;
    --borderRadius-40: 40px;
    --borderRadius-50: 50px;
    --borderRadius-1500: 1500px;
    --borderRadius-4xl: 2rem;
    --borderRadius-none: 0;
    --borderRadius-theme: 9999px;
    --borderWidth-0: 0;
    --borderWidth-2: 2px;
    --borderWidth-3: 3px;
    --borderWidth-4: 4px;
    --borderWidth-6: 6px;
    --borderWidth-8: 8px;
    --borderWidth: 1px;
    --letterSpacing-1: 1px;
    --letterSpacing-2: 2px;
    --letterSpacing-3: 3px;
    --letterSpacing-4: 4px;
    --letterSpacing-5: 5px;
    --letterSpacing-6: 6px;
    --letterSpacing-7: 7px;
    --letterSpacing-8: 8px;
    --letterSpacing-9: 9px;
    --letterSpacing-10: 10px;
    --listStyleType-alpha: lower-alpha;
    --listStyleType-circle: circle;
    --surface-primary: rgb(var(--color-black)/1);
    --google-map-surface: rgb(var(--color-white)/1);
    --google-map-text: rgb(var(--color-black)/1);
    --text-headline: rgb(var(--color-white)/1);
    --text-body: rgb(var(--color-white)/1);
    --text-body-alt: rgb(var(--color-white)/1);
    --text-body-alt-other: rgb(var(--color-white)/1);
    --surface-button-primary: rgb(var(--color-white)/1);
    --text-button-secondary: rgb(var(--color-white)/1);
    --surround-border: rgb(var(--color-white)/20%);
    --slider-arrow: rgb(var(--color-white)/1);
    --slider-label: rgb(var(--color-middleGrey)/1);
    --error: #eb1e00;
    --register-link-bg: rgb(var(--color-black)/1);
    --graphics: rgb(var(--color-clayDark)/1);
    --grey-btn: rgb(var(--color-white)/20%);
    font-family: inherit;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    text-transform: none;
    cursor: pointer;
    font-feature-settings: inherit;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    color: rgb(var(--color-black)/var(--tw-text-opacity));
    font-size: var(--fontSize-100);
    line-height: var(--lineHeight-normal);
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
    display: inline-flex;
    height: var(--spacing-75);
    width: var(--spacing-75);
    transform-origin: center;
    vertical-align: middle;
  }
  
  .selector_btn_svg{
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    --color-white: 255 255 255;
    --color-black: 0 0 0;
    --color-alabaster: 237 235 230;
    --color-clayDark: 50 46 35;
    --color-clayLight: 220 220 211;
    --color-dawnYellow: 254 209 65;
    --color-daybreakYellow: 242 240 161;
    --color-duskOrange: 255 164 0;
    --color-everydayGrey: 242 242 238;
    --color-forestGreen: 28 66 32;
    --color-gardenGreen: 208 222 187;
    --color-golden: 233 235 171;
    --color-inletBlue: 189 214 230;
    --color-middleGrey: 141 136 124;
    --color-mineralGrey: 57 57 53;
    --color-pacificBlue: 0 48 87;
    --color-parkGreen: 116 170 80;
    --color-pianoBlack: 28 27 31;
    --color-sandGrey: 215 210 193;
    --color-sandstoneDark: 50 46 35;
    --color-sandstoneLight: 237 235 230;
    --color-scorpionGrey: 96 96 96;
    --color-skyBlue: 0 132 212;
    --color-slateGrey: 30 32 24;
    --color-spaceGrey: 141 136 124;
    --color-stoneGrey: 231 229 217;
    --color-woodGrey: 94 88 81;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --regular: ABCRepro, sans-serif;
    --heavy: FeatureDisplay, serif;
    --mono: ABCReproMono, monospace;
    --accent: FeatureDeck, serif;
    --fontFamily-regular-0: var(--regular);
    --fontFamily-regular-1-fontFeatureSettings: "ss01","ss02","ss07","ss10","ss11";
    --fontFamily-heavy-0: var(--heavy);
    --fontFamily-heavy-1-fontFeatureSettings: normal;
    --fontFamily-mono-0: var(--mono);
    --fontFamily-mono-1-fontFeatureSettings: "ss01","ss02","ss07","ss10","ss11","ss12";
    --fontFamily-accent-0: var(--accent);
    --fontFamily-accent-1-fontFeatureSettings: normal;
    --lineHeight-70: 0.6875rem;
    --lineHeight-75: 0.75rem;
    --lineHeight-80: 0.8125rem;
    --lineHeight-90: 0.875rem;
    --lineHeight-100: 1rem;
    --lineHeight-110: 1.125rem;
    --lineHeight-125: 1.25rem;
    --lineHeight-130: 1.3125rem;
    --lineHeight-150: 1.5rem;
    --lineHeight-175: 1.75rem;
    --lineHeight-200: 2rem;
    --lineHeight-250: 2.5rem;
    --lineHeight-300: 3rem;
    --lineHeight-350: 3.5rem;
    --lineHeight-375: 3.75rem;
    --lineHeight-400: 4rem;
    --lineHeight-500: 5rem;
    --lineHeight-600: 6rem;
    --lineHeight-625: 6.25rem;
    --lineHeight-zero: 0;
    --lineHeight-none: 1;
    --lineHeight-tight: 1.1;
    --lineHeight-cozy: 1.2;
    --lineHeight-snug: 1.3;
    --lineHeight-normal: 1.4;
    --lineHeight-relaxed: 1.5;
    --lineHeight-loose: 2;
    --fontSize-70: 0.6875rem;
    --fontSize-75: 0.75rem;
    --fontSize-80: 0.8125rem;
    --fontSize-90: 0.875rem;
    --fontSize-100: 1rem;
    --fontSize-110: 1.125rem;
    --fontSize-130: 1.3125rem;
    --fontSize-150: 1.5rem;
    --fontSize-175: 1.75rem;
    --fontSize-200: 2rem;
    --fontSize-250: 2.5rem;
    --fontSize-300: 3rem;
    --fontSize-350: 3.5rem;
    --fontSize-375: 3.75rem;
    --fontSize-400: 4rem;
    --fontSize-500: 5rem;
    --fontSize-600: 6rem;
    --fontSize-625: 6.25rem;
    --fontSize-tiniest: .700rem;
    --fontSize-small: .75rem;
    --fontSize-xxs: .8125rem;
    --fontSize-xs: 0.875rem;
    --fontSize-sm: 1rem;
    --fontSize-base: 1rem;
    --fontSize-body: 1.125rem;
    --fontSize-md: 1.3125rem;
    --fontSize-lg: 1.5rem;
    --fontSize-xl: 1.75rem;
    --fontSize-2xl: 2rem;
    --fontSize-3xl: 2.5rem;
    --fontSize-4xl: 3rem;
    --fontSize-5xl: 3.5rem;
    --fontSize-6xl: 3.75rem;
    --fontSize-7xl: 5rem;
    --fontSize-8xl: 6.25rem;
    --fontWeight-bold: 700;
    --fontWeight-normal: 400;
    --spacing-15: 0.125rem;
    --spacing-25: 0.25rem;
    --spacing-35: 0.375rem;
    --spacing-50: 0.5rem;
    --spacing-60: 0.625rem;
    --spacing-75: 0.75rem;
    --spacing-90: 0.875rem;
    --spacing-100: 1rem;
    --spacing-110: 1.125rem;
    --spacing-125: 1.25rem;
    --spacing-150: 1.5rem;
    --spacing-175: 1.75rem;
    --spacing-200: 2rem;
    --spacing-225: 2.25rem;
    --spacing-250: 2.5rem;
    --spacing-275: 2.75rem;
    --spacing-290: 2.875rem;
    --spacing-300: 3rem;
    --spacing-330: 3.3125rem;
    --spacing-350: 3.5rem;
    --spacing-390: 3.875rem;
    --spacing-400: 4rem;
    --spacing-450: 4.5rem;
    --spacing-500: 5rem;
    --spacing-600: 6rem;
    --spacing-625: 6.25rem;
    --spacing-700: 7rem;
    --spacing-750: 7.5rem;
    --spacing-775: 7.75rem;
    --spacing-800: 8rem;
    --spacing-900: 9rem;
    --spacing-950: 9.5rem;
    --spacing-1000: 10rem;
    --spacing-1250: 12.5rem;
    --spacing-1375: 13.75rem;
    --spacing-1400: 14rem;
    --spacing-1420: 14.1875rem;
    --spacing-1500: 16rem;
    --spacing-1800: 18rem;
    --spacing-2225: 22.25rem;
    --spacing-2400: 24rem;
    --spacing-2500: 25rem;
    --spacing-2700: 27rem;
    --spacing-3000: 30rem;
    --spacing-3200: 32rem;
    --spacing-4600: 46rem;
    --spacing-5000: 50rem;
    --spacing-5625: 56.25rem;
    --borderRadius-2: 2px;
    --borderRadius-6: 6px;
    --borderRadius-8: 8px;
    --borderRadius-22: 22px;
    --borderRadius-32: 32px;
    --borderRadius-40: 40px;
    --borderRadius-50: 50px;
    --borderRadius-1500: 1500px;
    --borderRadius-4xl: 2rem;
    --borderRadius-none: 0;
    --borderRadius-theme: 9999px;
    --borderWidth-0: 0;
    --borderWidth-2: 2px;
    --borderWidth-3: 3px;
    --borderWidth-4: 4px;
    --borderWidth-6: 6px;
    --borderWidth-8: 8px;
    --borderWidth: 1px;
    --letterSpacing-1: 1px;
    --letterSpacing-2: 2px;
    --letterSpacing-3: 3px;
    --letterSpacing-4: 4px;
    --letterSpacing-5: 5px;
    --letterSpacing-6: 6px;
    --letterSpacing-7: 7px;
    --letterSpacing-8: 8px;
    --letterSpacing-9: 9px;
    --letterSpacing-10: 10px;
    --listStyleType-alpha: lower-alpha;
    --listStyleType-circle: circle;
    --surface-primary: rgb(var(--color-black)/1);
    --google-map-surface: rgb(var(--color-white)/1);
    --google-map-text: rgb(var(--color-black)/1);
    --text-headline: rgb(var(--color-white)/1);
    --text-body: rgb(var(--color-white)/1);
    --text-body-alt: rgb(var(--color-white)/1);
    --text-body-alt-other: rgb(var(--color-white)/1);
    --surface-button-primary: rgb(var(--color-white)/1);
    --text-button-secondary: rgb(var(--color-white)/1);
    --surround-border: rgb(var(--color-white)/20%);
    --slider-arrow: rgb(var(--color-white)/1);
    --slider-label: rgb(var(--color-middleGrey)/1);
    --error: #eb1e00;
    --register-link-bg: rgb(var(--color-black)/1);
    --graphics: rgb(var(--color-clayDark)/1);
    --grey-btn: rgb(var(--color-white)/20%);
    font-family: inherit;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    text-transform: none;
    cursor: pointer;
    font-feature-settings: inherit;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    color: rgb(var(--color-black)/var(--tw-text-opacity));
    font-size: var(--fontSize-100);
    line-height: var(--lineHeight-normal);
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
    display: block;
    vertical-align: middle;
    height: inherit;
    position: relative;
    top: 0;
    width: inherit;
  }